body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(185, 75%, 39%);
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position-x: calc(65% - 400px), calc(65% + 350px);
  background-position-y: -45vh, 45vh;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

main {
  height: 100vh;
  width: 100vw;
}

.card {
  background-color: white;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 16px;
  margin: auto;
  width: 90%;
  margin-top: 128px;
  min-width: 300px;
  max-width: 340px;
  color: hsl(229, 23%, 23%);
}

.card__top-pattern {
  background-image: url(images/bg-pattern-card.svg);
  height: 128px;
  border-radius: 16px 16px 0 0;
}

.card__image-container {
  margin-top: -48px;
}

.card__image {
  border-radius: 50%;
  padding: 0.3rem;
  background: white;
}

.personal-info {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;
}

.personal-info__item {
  font-size: 1.125rem;
  font-weight: bold;
}

.personal-info__item span {
  font-weight: normal;
  padding-left: 1rem;
}

.city {
  color: hsl(0, 0%, 59%);
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.line {
  border-top: 1px solid #e8e8e8;
}

.stats {
  list-style: none;
  text-align: center;
  padding: 1rem 0;
}

.stat-item {
  display: inline-block;
  width: 30%;
  font-size: 1.125rem;
  font-weight: bold;
}

.stat-item__num {
  margin: 0;
  padding: 0.5rem;
}

.stat-item__label {
  color: hsl(0, 0%, 59%);
  font-size: 0.6rem;
  font-weight: lighter;
  padding: 0 0 1rem 0;
  margin: 0;
  letter-spacing: 0.2rem;
}

.attribution {
  position: absolute;
  font-size: 0.6rem;
  text-align: center;
  bottom: 2rem;
  width: 100vw;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
